---
import "../../global.css";
import LayoutApp from "../../layouts/App.astro";
import Heading from "../../components/Heading.vue";
import Section from "../../components/Section.vue";
import Division from "../../components/Division.vue";
import NavApp from "../../components/NavApp.vue";
import App from "../../components/App.vue";
import {navGroups, makeStaticPathsFn, type NavItem} from "../../navigation";

export const getStaticPaths = makeStaticPathsFn(navGroups.portal);
const currentNavItem = Astro.props as NavItem;
const preloads = [
  {
   href: "/assets/JetBrainsMono-VariableFont_wght.woff2",
   as: "font",
   crossorigin: "anonymous",
  },
  // {
  //   href: "/assets/JetBrainsMono-Italic-VariableFont_wght.woff2",
  //   as: "font",
  //   crossorigin: "anonymous",
  // }
];
const jsonLd = [];
---

<LayoutApp
  path={currentNavItem.path}
  metaTitle={currentNavItem.metaTitle}
  metaDescription={currentNavItem.metaDescription}
  preloads={preloads}
  jsonLd={jsonLd}>
  <Heading is="h1" slot="header-left">Portal</Heading>
  <Division class="flex-auto flex justify-end" slot="header-right">
    <NavApp
      aria-label="Portal"
      initNavItem={currentNavItem}
      links={navGroups.portal}
      client:load/>
  </Division>
  <Section slot="main">
    <App initNavItem={currentNavItem} client:load/>
  </Section>
</LayoutApp>