---
import "../../global.css";
import LayoutApp from "../../layouts/App.astro";
import Heading from "../../components/Heading.vue";
import Section from "../../components/Section.vue";
import Division from "../../components/Division.vue";
import NavApp from "../../components/NavApp.vue";
import App from "../../components/App.vue";
import {navItemsPortal, makeStaticPathsFn} from "../../navigation";

export const getStaticPaths = makeStaticPathsFn(navItemsPortal);

const preloads = [
  {
   href: "/assets/JetBrainsMono-VariableFont_wght.woff2",
   as: "font",
   crossorigin: "anonymous",
  },
  // {
  //   href: "/assets/JetBrainsMono-Italic-VariableFont_wght.woff2",
  //   as: "font",
  //   crossorigin: "anonymous",
  // }
];
const jsonLd = [];
const {path, title, description} = Astro.props;
const initNavItemApp = navItemsPortal.reduce((a, b) => b.path === path ? b : a, null)
---

<LayoutApp
  path={path}
  title={title}
  description={description}
  preloads={preloads}
  jsonLd={jsonLd}>
  <Heading is="h1" slot="header-left">Portal</Heading>
  <Division class="flex-auto flex justify-end" slot="header-right">
    <NavApp
      aria-label="Portal"
      initNavItemApp={initNavItemApp}
      links={navItemsPortal}
      client:load/>
  </Division>
  <Section slot="main">
    <App initNavItemApp={initNavItemApp} client:load/>
  </Section>
</LayoutApp>