---
import "../global.css"
import LayoutDefault from "../layouts/Default.astro"
import Heading from "../components/Heading.vue"
import Division from "../components/Division.vue"
import Paragraph from "../components/Paragraph.vue"
import HCard from "../components/HCard.vue"
import HCardEmail from "../components/HCardEmail.vue"
import HCardLink from "../components/HCardLink.vue"
import Speak from "../components/Speak.vue"
import {navItemsHeader, getNavItemByPath} from "../navigation";

const currentNavItem = getNavItemByPath(navItemsHeader, "/");
const preloads = [
  {
   href: "/assets/JetBrainsMono-VariableFont_wght.woff2",
   as: "font",
   crossorigin: "anonymous",
  }
];
const jsonLd = [
  {
    "@context": "http://www.schema.org",
    "@type": "LocalBusiness",
    "name": "Jérôme Imfeld",
    "url": "https://zolo.dev",
    "sameAs": [
       "https://github.com/gourmetseasoningsake"
    ],
    "description": currentNavItem.metaDescription,
    "address": {
       "@type": "PostalAddress",
       "addressLocality": "Opfikon",
       "addressRegion": "Zürich",
       "postalCode": "8152",
       "addressCountry": "Schweiz"
    }
  }
];
---

<LayoutDefault
  path={currentNavItem.path}
  title={currentNavItem.metaTitle}
  description={currentNavItem.metaDescription}
  preloads={preloads}
  jsonLd={jsonLd}>
  <Division px my slot="main">
    <Heading is="h1">Ahoi</Heading>
  </Division>
  <Division px my slot="main">
    <Paragraph>
      Ich bin <span lang="fr">Jérôme</span><sup class="text-action-fg" aria-hidden="true">*</sup> Imfeld. Ich bin Web-Entwickler und erarbeite Lösungen für kleine Unternehmungen, die ihre Internetpräsenz verbessern oder Arbeitsflüsse digitalisieren möchten. Ich tue das seit 7 Jahren, als Teil eines bestehenden Teams oder als Lieferant einzelner Sachen.
    </Paragraph>
    <HCard>
      <HCardEmail
        class="block"
        email="ahoi@zolo.dev"
        title="E-Mail"
        focus>
        e-mail: ahoi@<span lang="en">zolo</span>.dev
      </HCardEmail>
      <HCardLink
        class="block"
        href="https://threema.id/8UFC3385"
        title="Threema"
        rel="noreferrer"
        focus>
        <span lang="en">threema</span>: 8UFC3385
      </HCardLink>
      <HCardLink
        class="block"
        href="https://github.com/gourmetseasoningsake"
        title="Github"
        rel="noreferrer"
        focus>
        <span lang="en">github</span>: <span lang="en">gourmetseasoningsake</span>
      </HCardLink>
    </HCard>
    <Speak
      client:load
      class="block"
      text="Jérôme"
      placeholder="*: /ʒe.ʁom/"
      lang="fr-FR"
      fallback="https://fr-audio.howtopronounce.com/1618555814607933a68bf4f.mp3"
      focus>
    </Speak>
  </Division>
</LayoutDefault>