---
import "../global.css";
import LayoutApp from "../layouts/App.astro";
import Heading from "../components/Heading.vue";
import Section from "../components/Section.vue";
import Division from "../components/Division.vue";
import IconFlorin from "../components/IconFlorin.vue";
import IconPerson2 from "../components/IconPerson2.vue";

const href = "/portal";
const title = "Kundenportal - Jérôme Imfeld";
const description = "Kundenportal";
const preloads = [
  {
   href: "/assets/JetBrainsMono-VariableFont_wght.woff2",
   as: "font",
   crossorigin: "anonymous",
  },
  {
    href: "/assets/JetBrainsMono-Italic-VariableFont_wght.woff2",
    as: "font",
    crossorigin: "anonymous",
  }
];
const jsonLd = [];
---

<LayoutApp
  href={href}
  title={title}
  description={description}
  preloads={preloads}
  jsonLd={jsonLd}>
  <Heading is="h1" slot="header-left">Portal</Heading>
  <Division class="flex items-center" slot="header-right">
    <IconFlorin class="w-4 h-4 text-green-600"></IconFlorin><span class="px-2">Finanzen</span>
    <IconPerson2 class="w-6 h-6 text-yellow-600"></IconPerson2><span class="px-2">Beteiligte</span>
  </Division>
  <Section slot="main">
  </Section>
</LayoutApp>