---
import "../global.css";
import LayoutApp from "../layouts/App.astro";
import Link from "../components/Link.vue";
import Heading1 from "../components/Heading1.vue";
import Section from "../components/Section.vue";
import Paragraph from "../components/Paragraph.vue";

const href = "/portal";
const title = "Kundenportal - Jérôme Imfeld";
const description = "Kundenportal";
const preloads = [
 {
   href: "/assets/JetBrainsMono-VariableFont_wght.woff2",
   as: "font",
   crossorigin: "anonymous",
 }
];
const jsonLd = [];
---

<LayoutApp
  href={href}
  title={title}
  description={description}
  preloads={preloads}
  jsonLd={jsonLd}>
  <Heading1 slot="header">Portal</Heading1>
  <Section slot="main">
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
    <p>aaaaaaa aaaaaaa</p>
  </Section>
</LayoutApp>