---
import "../global.css"
import LayoutDefault from "../layouts/Default.astro"
import Sentinel from "../components/Sentinel.vue";
import Heading1Dynamic from "../components/Heading1Dynamic.vue"
import Section from "../components/Section.vue"
import Posts from "../components/Posts.vue"

import { workPosts } from "../contents"

const href = "/work";
const title = "Jüngste Arbeiten - Jérôme Imfeld";
const description = "Auswahl der jüngsten Arbeiten von Jérôme Imfeld."
const preloads = [
 {
   href: "/assets/JetBrainsMono-VariableFont_wght.woff2",
   as: "font",
   crossorigin: "anonymous",
 },
 {
   href: "/assets/JetBrainsMono-Italic-VariableFont_wght.woff2",
   as: "font",
   crossorigin: "anonymous",
 }
];
---

<LayoutDefault
  href={href}
  title={title}
  description={description}
  preloads={preloads}>
  <Section class="sticky top-0" neutral slot="main">
    <Sentinel
      sessionKey="sentinelHeadingAbove"
      rootMargin="-120px"
      client:load/>
    <Heading1Dynamic defaultText="Work" client:load>Work</Heading1Dynamic>
  </Section>
  <Posts items={workPosts} slot="main" client:load></Posts>
</LayoutDefault>
