---
import "../global.css"
import LayoutDefault from "../layouts/Default.astro"
import Heading1 from "../components/Heading1.vue"
import Posts from "../components/Posts.vue"

import { workPosts } from "../contents"
import Section from "../components/Section.vue";
import Heading1 from "../components/Heading1.vue";

const href = "/work";
const title = "Jüngste Arbeiten - Jérôme Imfeld";
const description = "Auswahl der jüngsten Arbeiten von Jérôme Imfeld."
const preloads = [
 {
   href: "/assets/JetBrainsMono-VariableFont_wght.woff2",
   as: "font",
   crossorigin: "anonymous",
 },
 {
   href: "/assets/JetBrainsMono-Italic-VariableFont_wght.woff2",
   as: "font",
   crossorigin: "anonymous",
 }
];
---

<LayoutDefault
  href={href}
  title={title}
  description={description}
  preloads={preloads}>
  <Section neutral full divideAfter slot="main">
    <Section neutral>
      <Heading1>Work</Heading1>
    </Section>
  </Section>
  <Posts items={workPosts} slot="main" client:load></Posts>
</LayoutDefault>
