---
import "../global.css"
import LayoutDefault from "../layouts/Default.astro"
import Heading1 from "../components/Heading1.vue"
import Heading2 from "../components/Heading2.vue"
import Section from "../components/Section.vue"
import Paragraph from "../components/Paragraph.vue"
import Link from "../components/Link.vue"
import Posts from "../components/Posts.vue"

import { workPosts } from "../contents.js"

const href = "/work";
const title = "Jüngste Arbeiten - Jérôme Imfeld";
const description = "Auswahl der jüngsten Arbeiten von Jérôme Imfeld."
const preloads = [
 {
   href: "/assets/JetBrainsMono-VariableFont_wght.woff2",
   as: "font",
   crossorigin: "anonymous",
 },
 {
   href: "/assets/JetBrainsMono-Italic-VariableFont_wght.woff2",
   as: "font",
   crossorigin: "anonymous",
 }
];
---


<LayoutDefault
  href={href}
  title={title}
  description={description}
  preloads={preloads}>
  <Section neutral slot="main">
    <Heading1><span lang="en">Work</span></Heading1>
  </Section>
  <Posts client:load items={workPosts} slot="main"></Posts>
</LayoutDefault>
