---
import HeaderPrimaryApp from "../components/HeaderPrimaryApp.vue";
import NavPrimary from "../components/NavPrimary.vue";
import MainApp from "../components/MainApp.vue";
import FooterPrimary from "../components/FooterPrimary.vue";
import NavSecondary from "../components/NavSecondary.vue";
import Content from "../components/Content.vue";
import Sentinel from "../components/Sentinel.vue";
import Link from "../components/Link.vue";
import Logo from "../components/Logo.vue";
import License from "../components/License.vue";

import {
  navPrimaryItems,
  navSecondaryItems,
  copyLicense
} from "../contents";

const {
  title,
  href,
  description,
  preloads = [],
  jsonLd = [],
} = Astro.props;
---

<html lang="de-CH">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>{title}</title>
    <meta name="description" content={description}>
    <meta name="googlebot" content="notranslate">

    {preloads.map(({href, as, crossorigin}) => (
      <link rel="preload" href={href} as={as} crossorigin={crossorigin}>
    ))}

    <link rel="icon" href="/assets/favicon.ico" sizes="any">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">

    {jsonLd.length > 0 && (
      <script type="application/ld+json" set:html={JSON.stringify(jsonLd)}/>
    )}
  </head>
  <body class="min-h-screen bg-system-bg font-mono text-sm text-system-fg sm:text-base">
    <HeaderPrimaryApp client:load>
      <Link
        class="block text-system-fg"
        href="/"
        title="Startseite"
        current={false}
        slot="header-top"><Logo/></Link>
      <NavPrimary
        href={href}
        links={navPrimaryItems}
        slot="header-top"/>
      <Content slot="header-bottom-left">
        <slot name="header-left"></slot>
      </Content>
      <Content slot="header-bottom-right">
        <slot name="header-right"></slot>
      </Content>
    </HeaderPrimaryApp>
    <Sentinel sessionKey="sentinelHeaderBelow" client:load/>
    <MainApp>
      <slot name="main"></slot>
    </MainApp>
    <FooterPrimary>
      <License>{copyLicense}</License>
      <slot name="footer"></slot>
      <NavSecondary href={href} links={navSecondaryItems}/>
    </FooterPrimary>
  </body>
</html>
