---
import HeaderPrimaryDynamic from "../components/HeaderPrimaryDynamic.vue"
import NavPrimary from "../components/NavPrimary.vue"
import Main from "../components/Main.vue"
import FooterPrimary from "../components/FooterPrimary.vue"
import NavSecondary from "../components/NavSecondary.vue"
import Sentinel from "../components/Sentinel.vue"
import License from "../components/License.vue"

import { navPrimaryItems, navSecondaryItems, copyLicense } from "../contents.js"

const { title, href, description } = Astro.props
---


<html lang="de-CH">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark">
    <title>{title}</title>
    <meta name="description" content={description}>
    <meta name="googlebot" content="notranslate">

    <link rel="icon" href="/assets/favicon.ico" sizes="any">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  </head>
  <body class="min-h-screen font-mono text-sm sm:text-base">
    <HeaderPrimaryDynamic client:load>
      <slot name="header"></slot>
      <NavPrimary href={href} links={navPrimaryItems}/>
    </HeaderPrimaryDynamic>
    <Sentinel client:load />
    <Main>
      <slot name="main"></slot>
    </Main>
    <FooterPrimary>
      <License>{copyLicense}</License>
      <slot name="footer"></slot>
      <NavSecondary href={href} links={navSecondaryItems}/>
    </FooterPrimary>
  </body>
</html>
